<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	<title>Design test</title>
</head>
<body class="is-preload">
	<!-- Sidebar -->
		<section id="sidebar">
			<div class="inner">
				<nav>
					<ul>
						<li><a href="#intro">What is MAF</a></li>
						<li><a href="#one">State of the art</a></li>
						<li><a href="#two">Adventages</a></li>
					</ul>
				</nav>
			</div>
		</section>

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Intro -->
				<section id="intro" class="wrapper style1 fullscreen fade-up">
					<div class="inner">
						<h1>What is MAF?</h1>
						<p><b>MSIT AI Fairness.</b> A bias mitigation tool.</p>
						<ul class="actions">
							<li><a href="/data" class="button scrolly primary">Data selection</a></li>
							<li><a href="#one" class="button scrolly">Description of SOTA algorithms</a></li>
						</ul>
					</div>
				</section>

			<!-- One -->
				<section id="one" class="wrapper style2 spotlights">
					<section>
						<a href="#" class="image"><img src="/static/images/fairbatch.jpg" alt="" data-position="center center" /></a>
						<div class="content">
							<div class="inner">
								<h2>Fair Batch</h2>
								<p>Yuji Roh, Kangwook Lee, Steven Euijong Whang, and Changho Suh. <b>FairBatch: Batch Selection for Model Fairness.</b> In Proceedings of the 9th International Conference on Learning Representations (ICLR), 2021.</p>
								<ul class="actions">
									<li><a href="https://arxiv.org/abs/2012.01696" target="_blank" class="button">Paper</a></li>
									<li><a href="https://github.com/yuji-roh/fairbatch" target="_blank" class="button">Github</a></li>
								</ul>
							</div>
						</div>
					</section>
					<section>
						<a href="#" class="image"><img src="/static/images/ffd.jpg" alt="" data-position="left center" /></a>
						<div class="content">
							<div class="inner">
								<h2>Fair Feature Distillation</h2>
								<p>S. Jung, D. Lee, T. Park and T. Moon, <b>Fair Feature Distillation for Visual Recognition</b>, in 2021 IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR), Nashville, TN, USA, 2021 pp. 12110-12119.</p>
								<ul class="actions">
									<li><a href="https://arxiv.org/abs/2106.04411" target="_blank" class="button">Paper</a></li>
									<li><a href="https://github.com/DQle38/Fair-Feature-Distillation-for-Visual-Recognition" target="_blank" class="button">Github</a></li>
								</ul>
							</div>
						</div>
					</section>
					<section>
						<a href="#" class="image"><img src="/static/images/fvae.png" alt="" data-position="left center" /></a>
						<div class="content">
							<div class="inner">
								<h2>Fair Variational Auto-Encoder</h2>
								<p>Sungho Park, Dohyung Kim, Sunhee Hwang, and Hyeran Byun. <b>README: REpresentation learning by fairness-Aware Disentangling MEthod.</b> arXiv preprint arXiv:2007.03775, 2020.</p>
								<ul class="actions">
									<li><a href="https://arxiv.org/abs/2007.03775" target="_blank" class="button">Paper</a></li>
									<li><a href="https://github.com/sungho-CoolG/Fairness-VAE" target="_blank" class="button">Github</a></li>
								</ul>
							</div>
						</div>
					</section>
					<section>
						<a href="#" class="image"><img src="/static/images/kde.jpg" alt="" data-position="left center" /></a>
						<div class="content">
							<div class="inner">
								<h2>Kernel Density Estimation</h2>
								<p>Jaewoong Cho, Gyeongjo Hwang, Changho Suh, <b>A Fair Classifier Using Kernel Density Estimation</b>, Advances in Neural Information Processing Systems 33 (NeurIPS 2020), 2020.</p>
								<ul class="actions">
									<li><a href="https://proceedings.neurips.cc/paper/2020/hash/ac3870fcad1cfc367825cda0101eee62-Abstract.html" target="_blank" class="button">Paper</a></li>
									<li><a href="https://github.com/Gyeongjo/FairClassifier_using_KDE" target="_blank" class="button">Github</a></li>
								</ul>
							</div>
						</div>
					</section>
					<section>
						<a href="#" class="image"><img src="/static/images/lff.jpg" alt="" data-position="center center" /></a>
						<div class="content">
							<div class="inner">
								<h2>Learning from Fairness</h2>
								<p>Junhyun Nam, Hyuntak Cha, Sungsoo Ahn, Jaeho Lee, Jinwoo Shin, <b>Learning from Failure: Training Debiased Classifier from Biased Classifier</b>, Advances in Neural Information Processing Systems 33 (NeurIPS 2020), 2020.</p>
								<ul class="actions">
									<li><a href="https://arxiv.org/abs/2007.02561" target="_blank" class="button">Paper</a></li>
									<li><a href="https://github.com/alinlab/LfF" target="_blank" class="button">Github</a></li>
								</ul>
							</div>
						</div>
					</section>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style3 fade-up">
					<div class="inner">
						<h2>Advantages</h2>
						<p>MAF is an easy and efficient bias mitigation toolkit. MAF could process unstructured data like images. For anyone who dosen't have any programming knowleges, MAF serves a user friendly interface. MAF will be updated continuously, then it will be more powerful mitigation toolkit.</p>
						<div class="features">
							<section>
								<span class="icon solid major fa-code"></span>
								<h3>Python library</h3>
								<p>For programmers, MAF could be used in develop environment. Please check the <a href="https://github.com/konanaif/MAF" target="_blank">MAF repository</a>.</p>
							</section>
							<section>
								<span class="icon solid major fa-cog"></span>
								<h3>Unstructured data</h3>
								<p>MAF could deal with unstructured data. Images could be used on MAF now. Text, audio, and video processor will be updated soon.</p>
							</section>
							<section>
								<span class="icon solid major fa-desktop"></span>
								<h3>Visualization</h3>
								<p>MAF visualize the result of mitigation in various charts. It will be helpful for analyzing the result directly and easily.</p>
							</section>
							<section>
								<span class="icon major fa-gem"></span>
								<h3>State of the art</h3>
								<p>MAF will be updated continuously. It maintain a state of the art bias mitigation toolkit.</p>
							</section>
						</div>
					</div>
				</section>

		</div>

	<!-- Footer -->
		<footer id="footer" class="wrapper style1-alt">
			<div class="inner">
				<ul class="menu">
					<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>

	<!-- Scripts -->
		<script src="/static/assets/js/jquery.min.js"></script>
		<script src="/static/assets/js/jquery.scrollex.min.js"></script>
		<script src="/static/assets/js/jquery.scrolly.min.js"></script>
		<script src="/static/assets/js/browser.min.js"></script>
		<script src="/static/assets/js/breakpoints.min.js"></script>
		<script src="/static/assets/js/util.js"></script>
		<script src="/static/assets/js/main.js"></script>

</body>
</html>